* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin: 0;

  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

.post-container {
  /* border: 1px solid black; */
  width: 400px;
  height: 500px;
  margin: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  border-radius: 10px;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-header>div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.post-image {
  flex: 1;
}

.post-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.post-icons {
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.post-icons>div {
  display: flex;
  gap: 10px;
}

.post-likes {
  font-size: 14px;
}


.liked {
  color: red
}

.liked:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  left: 0; 
  top: 0;  
  border-right: 1px solid #ccc; 
}

.logo h1 {
  font-size: 24px;
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 20px 0;
}

ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  display: flex;
  align-items: center;
}

ul li a i, .profile-pic {
  margin-right: 15px;
  font-size: 22px;
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

ul li a:hover {
  color: #ccc;
}

ul li a i:hover {
  color: #ccc;
}

.stories {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.story {
  text-align: center;
  color: white;
}

.story img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #f06292;
  padding: 3px;
  background: linear-gradient(45deg, #f06292, #ff8c00);
}

.story span {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 80px;
  overflow: hidden;
}

.profile-section {
  width: 300px;
  position: fixed; /* Fixa a lista no lado direito */
  top: 20px; /* Ajusta a distância do topo da tela */
  right: 20px; /* Ajusta a distância do lado direito da tela */
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.profile-info {
  flex-grow: 1;
}

.username {
  font-weight: bold;
  display: block;
}

.name {
  color: #aaa;
  font-size: 14px;
}

.change {
  color: #00a2ed;
  font-size: 14px;
  text-decoration: none;
}

.suggestions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.suggestions h3 {
  font-size: 16px;
}

.suggestions a {
  font-size: 14px;
  color: #00a2ed;
  text-decoration: none;
}

.suggestion-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.suggestion {
  display: flex;
  align-items: center;
}

.suggestion img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.suggestion-info {
  flex-grow: 1;
}

.username {
  font-weight: bold;
  display: block;
}

.details {
  font-size: 12px;
  color: #aaa;
}

.follow {
  color: #00a2ed;
  font-size: 14px;
  text-decoration: none;
}